<template>
  <section>
    <div class="row ">
      <div class="col-12 col-lg-3 col-xl-3">
        <Forum />
      </div>
      <div class="col-12 col-lg-9 col-xl-6">
        <Post :key="$route.fullPath"/>
      </div>
      <div class="col-12 col-xl-3 pl-0">
        <PostRecent />
      </div>
    </div>
  </section>
</template>

<script>
import Post from '@/components/Post.vue'
import Forum from '@/components/Forum.vue'
import PostRecent from '@/components/PostRecent.vue'

export default {
  name: 'Home',
  components: {
    Post,
    Forum,
    PostRecent
  }
}
</script>

<style lang="scss">
  .card:not(.comment) {
    border: solid 1px #6c757d;
  }
</style>
