<template>
	<section>
		<div class="row align-items-baseline">
      <div class="col-12 col-lg-3 col-xl-3">
				<SettingMenu />
			</div>
			<div class="col-12 col-lg-9 col-xl-9">
				<Setting :key="$route.fullPath"/>
			</div>
		</div>
	</section>
</template>

<script>
import SettingMenu from '@/components/SettingMenu.vue'
import Setting from '@/components/Setting.vue'

export default {
	name: 'Profil',
	components: {
		SettingMenu,
		Setting
	}
}
</script>

<style lang="scss" scoped>
</style>
