<template>
    <nav class="col-12 col-lg-3 p-0">
        <div class="card m-3">
            <div class="card-body">
                <div class="card-text">
                    <h3 class="text-justify">Liste des forums</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="forum in forums" :key="forum">
                            <router-link :to="'/forum/' + forum.id" class="nav-link w-100 p-0 d-flex justify-content-between align-items-center">
                                <span>{{forum.forum_name}}</span>
                                <span class="badge badge-pill align-middle d-flex justify-content-center align-items-center">{{forum.countPosts}}</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import ForumService from "../services/forum.service";

export default {
    name: 'Forum',
    data() {
        return {
            forums: null
        }
    },
    mounted() {
        ForumService.getAll().then(
            (response) => {
                this.forums = response.data.message; 
            }
        )
    }
}
</script>

<style scoped lang="scss">
    @import "../config/_variables.scss";

    nav {
        position: fixed;
        @media (max-width: 992px) { 
            position: inherit;
        }
        a {
            font-weight: bold;
            color: #000;
            &.router-link-exact-active {
                color: $primary-color;
            }
            .badge {
                color: #000;
                background-color: $primary-color;
                height: 2rem;
                width: 2rem;            
                font-size: 1rem;
            }       
        }
        ul {
            li {            
                background-color: $bg;
            }
        }
    }
</style>