<template>
  <header id="nav" class="container-fluid">
    <div class="container">
      <div class="row">
        <nav class="col row justify-content-between align-items-baseline navbar navbar-expand-lg navbar-light m-0">
          <router-link to="/" id="nav__brand" class="navbar-brand col-12 col-lg-4">
            <picture>
              <source type="image/svg" srcset="@/assets/icon-left-font-monochrome-black.svg">
                <img src="@/assets/icon-left-font-monochrome-black.svg" alt="Logo Groupomania en noir" width="200" height="90">
            </picture>
          </router-link>
          <div id="nav__links" class="col-12 col-lg-4 justify-content-center">
            <div id="navbarContent" class="justify-content-end">
              <ul v-if="!user" class="navbar-nav flex-row">
                <li class="nav-item active col-6">
                  <router-link to="/login" class="nav-link">Se connecter</router-link>
                </li>
                <li class="nav-item col-6">
                  <router-link to="/register" class="nav-link">S'enregistrer</router-link>
                </li>
              </ul>
              <div v-else class="d-flex justify-content-center">
                <div class="dropdown">
                  <button class="btn bg-transparent" type="button" data-toggle="dropdown">
                    <picture class="profile">
                      <img :src="user.user_image" :alt="'image de profil de ' + user.firstname + ' ' + user.lastname" width="40" height="40" class="rounded-circle border border-dark border-3">
                    </picture>
                  </button>
                  <div class="dropdown-menu">
                    <router-link to="/profile" class="dropdown-item">Paramètres</router-link>
                    <button type="button" class="dropdown-item" @click="logout">Se deconnecter</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  props: ['user'],
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
}
</script>

<style scoped lang="scss">
  #nav {
    a {
      font-weight: bold;
      color: #000;

      &.router-link-exact-active {
        color: #fd2d01;
      }
    }
  }
</style>