<template>
    <div class="row justify-content-center align-content-center align-items-center p-0 m-0">
        <div class="col-md-4">
            <h1>Ravis de vous revoir !</h1>
            <div class="card card-container p-3">
                <Form @submit="handleLogin" :validation-schema="schema">
                    <div class="form-group">
                        <label for="login__email">Email</label>
                        <Field name="email" type="email" class="form-control" id="login__email"/>
                        <ErrorMessage name="email" class="error-feedback" />
                    </div>
                    <div class="form-group">
                        <label for="login__password">Mot de passe</label>
                        <Field name="password" type="password" class="form-control" id="login__password"/>
                        <ErrorMessage name="password" class="error-feedback" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn--custom btn-block" :disabled="loading">
                            <span
                                v-show="loading"
                                class="spinner-border spinner-border-sm"
                            ></span>
                            <span>Se connecter</span>
                        </button>
                    </div>

                    <div class="form-group">
                        <div v-if="message" class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </Form>
            </div>
        </div>
    </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: "Login",
    components: {
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schema = yup.object().shape({
            email: yup.string().required("Email is required!"),
            password: yup.string().required("Password is required!"),
        });

        return {
            loading: false,
            message: "",
            schema,
        };
    },
    computed: {
        loggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },
    created() {
        if (this.loggedIn) {
            this.$router.push({ path: '/' });
        }
    },
    methods: {
        handleLogin(user) {
            this.loading = true;

            this.$store.dispatch("auth/login", user)
                .then(() => {
                    this.$router.push({ path: '/' });
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
    },
};
</script>


<style lang="sass">

</style>