<template>
    <div class="modal fade p-0" :id="idModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title h5">{{this.title}}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="body">template v-slot:body</slot>
                </div>
                <div class="modal-footer justify-content-between flex-wrap">
                    <button type="button" class="btn btn-secondary col-md-5 m-0" data-dismiss="modal">Annuler</button>
                    <slot name="action">template v-slot:action</slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Modal',
    props: {
        idModal: {
            type: String,
            required: true
        },
        title: {
            type: String
        }
    }
}
</script>

<style lang="scss">
</style>