<template>
    <div class="row justify-content-center">
        <div class="card p-0 mb-3 col-lg-6">
            <div class="card-body">
                <div class="card-text">
                    <p class="m-0">
                        Error 404 : Not Found
                        <br/>
                        La page demandée n'existe pas ou un problème est survenue.
                    </p>
                    <a href="javascript:window.history.go(-1)" class="btn btn-primary btn-block my-3">Page précédente</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PathNotFound'
}
</script>

<style lang="scss" scoped>

</style>