<template>
    <aside class="col-12 p-0 pr-3">
        <div class="card">
            <div class="card-body">
                <h2>Post récents</h2>
                <div class="card-text">
                    <div class="list-group">
                        <router-link :to="'/post/' + recentPost.id" class="list-group-item list-group-item-action flex-column align-items-start" v-for="recentPost in recentPosts" :key="recentPost">
                            <div class="d-flex w-100 justify-content-center align-items-center flex-wrap mb-3">
                                <picture class="profile">
                                    <img :src="recentPost.user.user_image" :alt="'image de profil de ' + recentPost.user.firstname + ' ' + recentPost.user.lastname" width="40" height="40" class="rounded-circle border border-dark border-3 mx-3">
                                </picture>
                                <div class="small">
                                    {{recentPost.user.firstname}} {{recentPost.user.lastname}}<br/>
                                    <small>{{dateFormat(recentPost.createdAt)}}</small>
                                </div>  
                            </div>
                            <div>
                                <picture v-if="recentPost.image != null">
                                    <img :src="recentPost.image" :alt="'image du post de ' + recentPost.user.firstname + ' ' + recentPost.user.lastname" width="800" height="150">
                                </picture>
                                <div v-if="recentPost.text != null">
                                    <div class="text-justify">
                                        <p class="m-0">{{recentPost.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
import PostService from "../services/post.service";

import utils from "../config/utils";

export default {
    name: 'PostRecent',
    data() {
        return {
            recentPosts: null
        }
    },
    beforeMount() {
        PostService.getRecent().then(
            (response) => {
                if (Object.keys(response.data.message).length > 0) {
                    this.recentPosts = response.data.message;
                } 
            }
        )
    },
    methods: {
        dateFormat(dateISO) {
            return utils.dateFormat(dateISO);
        }
    }
}
</script>

<style scoped lang="scss">
    aside {
        @media (max-width: 1200px) { 
            display: none;
        }
        picture:not(.profile) {
            img {
                max-width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
</style>