<template>

    <Modal idModal="postModal" title="Créer une publication">
        <template v-slot:body>
            <Form id="postForm" :validation-schema="schemaPost" @submit="create_post">
                <div class="form-group">
                    <label for="postForm__id_forum">Forum</label>
                    <Field name="id_forum" as="select" class="form-control" id="postForm__id_forum" @change="changeSelect">
                        <option disabled selected value="">Choisissez un forum</option>
                        <option v-for="forum in forums" :key="forum" :value="forum.id">{{forum.forum_name}}</option>
                    </Field>
                    <ErrorMessage name="id_forum" class="error-feedback" />
                </div>
                <div class="form-group" v-show="selected != 2 && selected">
                    <label for="postForm__text">Texte</label>
                    <Field name="text" as="textarea" class="form-control" id="postForm__text"/>
                    <ErrorMessage name="text" class="error-feedback" />
                </div>
                <div class="form-group" v-show="selected != 1 && selected">
                    <label for="postForm__image">Média (jpg, png, gif)</label>
                    <Field name="image" type="file" class="form-control" @change="showImage" id="postForm__image"/>
                    <ErrorMessage name="image" class="error-feedback" />
                    <picture v-show="showFormImage">
                        <img src="#" alt="L'image de votre post" class="image_preview mt-3"/>
                    </picture>
                    <div>
                        <input type='button' class="btn btn-secondary col-5 float-right mt-3" @click="resetImage('postForm')" value="Effacer l'image">
                    </div>
                </div>
            </Form>
        </template>
        <template v-slot:action>
                <button class="btn btn-primary col-md-5 m-0" form="postForm" :disabled="loading">
                    <span
                        v-show="loading"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span>Valider</span>
                </button>

                <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                    {{ message }}
                </div>
        </template>
    </Modal>

    <Modal idModal="deleteModal" title="Suppression de la publication">
        <template v-slot:body>
            Êtes-vous sûre de vouloir supprimer ?
        </template>
        <template v-slot:action>
            <button type="button" class="btn btn-danger col-md-5" @click="delete_post" :disabled="loading">
                <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                ></span>
                <span>Supprimer</span>
            </button>
            
            <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                {{ message }}
            </div>
        </template>
    </Modal>

    <Modal idModal="updateModal" title="Modifier une publication">
        <template v-slot:body>
            <Form id="updateForm" :validation-schema="schemaPost" @submit="update_post">
                <div class="form-group">
                    <label for="updateForm__id_forum">Forum</label>
                    <Field name="id_forum" as="select" class="form-control" v-model="dataPostCopy.id_forum" @change="changeSelect" id="updateForm__id_forum">
                        <option v-for="forum in forums" :key="forum" :value="forum.id">{{forum.forum_name}}</option>
                    </Field>
                    <ErrorMessage name="id_forum" class="error-feedback" />
                </div>
                <div class="form-group" v-show="selected != 2 && selected">
                    <label for="updateForm__text">Texte</label>
                    <Field name="text" as="textarea" class="form-control" v-model="dataPostCopy.text" id="updateForm__text"/>
                    <ErrorMessage name="text" class="error-feedback" />
                </div>
                <div class="form-group" v-show="selected != 1 && selected">
                    <label for="updateForm__image">Média (jpg, png, gif)</label>
                    <Field name="image" type="file" class="form-control" @change="showImage" id="updateForm__image"/>
                    <ErrorMessage name="image" class="error-feedback" />
                    <picture v-show="showFormImage">
                        <img :src="dataPostCopy.image" alt="La nouvelle image du post" class="image_preview mt-3"/>
                    </picture>
                    <div>
                        <input type='button' class="btn btn-secondary col-5 float-right mt-3" @click="resetImage('updateForm')" value="Effacer l'image">
                    </div>
                </div>
            </Form>
        </template>
        <template v-slot:action>
                <button class="btn btn-primary col-md-5 m-0" form="updateForm" :disabled="loading">
                    <span
                        v-show="loading"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span>Valider</span>
                </button>

                <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                    {{ message }}
                </div>
        </template>
    </Modal>

    <Modal idModal="postComment" title="Créer un commentaire">
        <template v-slot:body>
            <Form id="commentForm" @submit="create_comment">
                <div class="form-group">
                    <label for="commentForm__text">Texte</label>
                    <Field name="text" as="textarea" class="form-control" id="commentForm__text"/>
                    <ErrorMessage name="text" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="commentForm__image">Média (jpg, png, gif)</label>
                    <Field name="image" type="file" class="form-control" @change="showImage" id="commentForm__image"/>
                    <ErrorMessage name="image" class="error-feedback" />
                    <picture v-show="showFormImage">
                        <img src="#" alt="L'image de votre commentaire" class="image_preview mt-3"/>
                    </picture>
                    <div>
                        <input type='button' class="btn btn-secondary col-5 float-right mt-3" @click="resetImage('commentForm')" value="Effacer l'image">
                    </div>
                </div>
            </Form>
        </template>
        <template v-slot:action>
                <button class="btn btn-primary col-md-5 m-0" form="commentForm" :disabled="loading">
                    <span
                        v-show="loading"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span>Valider</span>
                </button>

                <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                    {{ message }}
                </div>
        </template>
    </Modal>

    <Modal idModal="deleteComment" title="Suppression du commentaire">
        <template v-slot:body>
            Êtes-vous sûre de vouloir supprimer ?
        </template>
        <template v-slot:action>
            <button type="button" class="btn btn-danger col-md-5" @click="delete_comment" :disabled="loading">
                <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                ></span>
                <span>Supprimer</span>
            </button>
            
            <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                {{ message }}
            </div>
        </template>
    </Modal>

    <Modal idModal="updateComment" title="Modifier un commentaire">
        <template v-slot:body>
            <Form id="updateCommentForm" @submit="update_comment">
                <div class="form-group">
                    <label for="updateCommentForm__text">Texte</label>
                    <Field name="text" as="textarea" class="form-control" v-model="dataCommentCopy.text" id="updateCommentForm__text"/>
                    <ErrorMessage name="text" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateCommentForm__image">Média (jpg, png, gif)</label>
                    <Field name="image" type="file" class="form-control" @change="showImage" id="updateCommentForm__image"/>
                    <ErrorMessage name="image" class="error-feedback" />
                    <picture v-show="showFormImage">
                        <img :src="dataCommentCopy.image" alt="La nouvelle image du commentaire" class="image_preview mt-3"/>
                    </picture>
                    <div>
                        <input type='button' class="btn btn-secondary col-5 float-right mt-3" @click="resetImage('updateCommentForm')" value="Effacer l'image">
                    </div>
                </div>
            </Form>
        </template>
        <template v-slot:action>
                <button class="btn btn-primary col-md-5 m-0" form="updateCommentForm" :disabled="loading">
                    <span
                        v-show="loading"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span>Valider</span>
                </button>

                <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                    {{ message }}
                </div>
        </template>
    </Modal>

    <div class="modal fade p-0" id="lightbox" tabindex="-1" aria-hidden="true">
        <div class="position-absolute">
            <button type="button" class="btn btn--custom m-0 col-12" data-dismiss="modal" aria-label="Fermer la modal"><i class="fas fa-times fa-lg"></i></button>
        </div>
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content bg-transparent border-0">
                <picture>
                    <img :src="lighbox_image" alt="Agrandissement de l'image cliquée" width="1920" height="1080" class="">
                </picture>
            </div>
        </div>
    </div>

    <div class="col-12 mb-3">
        <h1>Bienvenue <span v-if="$store.state.auth.user.role == 'Admin'">administrateur</span></h1>

        <div class="card p-0 mb-3 post">
            <div class="post__header d-flex align-items-center w-100 my-3 px-3">
                <picture class="profile">
                    <img :src="user.user_image" :alt="'image de profil de ' + user.firstname + ' ' + user.lastname" width="40" height="40" class="rounded-circle border border-dark border-3 mx-3">
                </picture>
                <button type="button" class="btn btn-secondary w-100" data-toggle="modal" data-target="#postModal" @click="showImage">Ajouter un post</button>
            </div>
        </div>

        <div v-if="posts != null">
            <div class="card p-0 mb-3 post" v-for="post in posts" :key="post">

                <div class="post__header d-flex align-items-center w-100 px-3 card-header">      
                    <router-link :to="'/post/' + post.id" class="d-flex">
                        <picture class="profile">
                            <img :src="post.user.user_image" :alt="'image de profil de ' + post.user.firstname + ' ' + post.user.lastname" width="40" height="40" class="rounded-circle border border-dark border-3 mx-3">
                        </picture>
                        <div class="small">
                            {{post.user.firstname}} {{post.user.lastname}}<br>
                            {{dateFormat(post.createdAt)}}
                        </div>
                    </router-link>
                    <div class="dropdown ml-auto mr-3" v-if="post.id_user === $store.state.auth.user.userId || $store.state.auth.user.role == 'Admin'">
                        <button class="btn bg-transparent" type="button" data-toggle="dropdown" aria-label="Actions de modération">
                            <i class="fas fa-ellipsis-v fa-lg"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateModal" @click="updateModalForm(post)">Modifier</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal" @click="copyData(post)">Supprimer</a>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <picture v-if="post.image != null">
                        <img class="card-img-top" :src="post.image" :alt="'image du post de ' + post.user.firstname + ' ' + post.user.lastname" width="800" height="150" data-toggle="modal" data-target="#lightbox" @click="lightbox">
                    </picture>
                    <div class="card-body" v-if="post.text != null">
                        <div class="card-text text-justify">
                            <p class="m-0">{{post.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted d-flex flex-wrap align-items-baseline">
                    <div class="col-12 d-flex align-items-baseline"> 
                        <span>{{post.countLiked}}</span>
                        <transition name="fade" mode="out-in">
                            <button class="btn" v-if="post.users_liked.findIndex(p => p.id === user.userId) < 0" v-on:click="liked(true, post)" aria-label="Bouton j'aime" :disabled="loading"><i class="far fa-thumbs-up fa-2x"></i></button>
                            <button class="btn" v-else v-on:click="liked(false, post)" aria-label="Bouton j'aime cliqué"><i class="fas fa-thumbs-up fa-2x text-success" :disabled="loading"></i></button>
                        </transition>
                    </div>
                    <router-link :to="'/post/' + post.id" class="col-6 text-center mb-3">Il y a {{post.countComments}} commentaire<span v-if="post.countComments > 1">s</span></router-link>
                    <button type="button" class="btn btn-secondary col-6" data-toggle="modal" data-target="#postComment" @click="addIdPost(post.id, $event)">Ajouter un commentaire</button>

                    <div class="card p-0 mb-3 comment w-100" v-for="comment in post.comments" :key="comment">
                        <div class="comment__header d-flex align-items-center w-100 px-3 card-header">
                            <picture class="profile">
                                <img :src="comment.user.user_image" :alt="'image de profil de ' + comment.user.firstname + ' ' + comment.user.lastname" width="40" height="40" class="rounded-circle border border-dark border-3 mx-3">
                            </picture>
                            <div class="small">
                                {{comment.user.firstname}} {{comment.user.lastname}}<br>
                                {{dateFormat(comment.createdAt)}}
                            </div>

                            <div class="dropdown ml-auto mr-3" v-if="comment.id_user === $store.state.auth.user.userId || $store.state.auth.user.role == 'Admin'">
                                <button class="btn bg-transparent" type="button" data-toggle="dropdown" aria-label="Actions de modération">
                                    <i class="fas fa-ellipsis-v fa-lg"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateComment" @click="updateModalForm(comment, false)">Modifier</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteComment" @click="copyData(comment, false)">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <picture v-if="comment.image != null">
                                <img class="card-img-top" :src="comment.image" :alt="'image du commentaire de ' + post.user.firstname + ' ' + post.user.lastname" width="800" height="150" data-toggle="modal" data-target="#lightbox" @click="lightbox">
                            </picture>
                            <div class="card-body" v-if="comment.text != null">
                                <div class="card-text text-justify">
                                    <p class="m-0">{{comment.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-auto" v-if="post.countComments > post.comments.length">
                        <router-link :to="'/post/' + post.id" aria-label="Plus d'information sur le post"><i class="fas fa-ellipsis-h fa-2x"></i></router-link>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <div class="card p-0 mb-3 post">
                <div class="post">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="m-0">Il n'y a rien ici... En tout cas pour le moment !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import PostService from "../services/post.service";
import ForumService from "../services/forum.service";
import CommentService from "../services/comment.service";
import LikeService from "../services/like.service";

import utils from "../config/utils";
import Modal from "./Modal.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: 'Post',
    components: {
        Modal,
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schemaPost = yup.object().shape({
            id_forum: yup.string().required("Un forum est nécessaire")
        });

        return {
            posts: null,
            forums: null,
            dataPostCopy: '',
            dataCommentCopy: '',
            id_post: null,
            message: "",
            loading: false,
            showFormImage: false,
            selected: null,
            schemaPost,
            user: null,
            lighbox_image: ''
        };
    },
    methods: {
        dateFormat(dateISO) {
            return utils.dateFormat(dateISO);
        },
        copyData(data, isPost = true) {
            if (isPost) this.dataPostCopy = {...data}
            else this.dataCommentCopy = {...data};
        },
        updateModalForm(data, isPost = true) {
            this.copyData(data, isPost);
            this.selected = (data.id_forum) ? data.id_forum : this.selected;
            this.showFormImage = (data.image) ? true : false;
            this.message = "";
        },
        delete_post() {
            this.loading = true;
            PostService.delete(this.dataPostCopy.id, this.dataPostCopy.image)
            .then(() => {
                    this.$router.go(0)
                })
            .catch((error) => {
                this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                this.loading = false;
            })
        },
        create_post(post){
            this.message = "";
            this.loading = true;
            post.id_user = this.$store.state.auth.user.userId;
            switch(post.id_forum) {
                case "1" : {
                    post.image = null;
                    break
                }
                case "2" : {
                    post.text = null;
                    break
                }
                case "3" : {
                    if (!post.text || !post.image) {
                        this.loading = false;
                        return this.message = "Text and image is required for this forum";
                    }
                    break
                }
            }
            const image = post.image ? post.image[0] : null;
            PostService.create(post, image)
                .then(() => {
                    this.$router.go(0)
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        update_post(post){
            this.message = "";
            this.loading = true;
            post.id_user = this.dataPostCopy.id_user;
            let image = post.image ? post.image[0] : null;
            switch(Number(post.id_forum)) {
                case 1 : {
                    post.image = null;
                    image = null;
                    break
                }
                case 2 : {
                    post.text = null;
                    break
                }
                case 3 : {
                    if (!post.image) {
                        post.image = this.dataPostCopy.image;
                    }
                    if (!post.text || !post.image) {
                        this.loading = false;
                        return this.message = "Text and image is required";
                    }
                    break
                }
            }
            PostService.update(this.dataPostCopy.id, post, image)
                .then(() => {
                    this.$router.go(0)
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        delete_comment() {
            this.loading = true;
            CommentService.delete(this.dataCommentCopy.id, this.dataCommentCopy.image)
            .then(() => {
                    this.$router.go(0)
                })
            .catch((error) => {
                this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                this.loading = false;
            })
        },
        create_comment(comment){
            this.message = "";
            this.loading = true;
            comment.id_user = this.$store.state.auth.user.userId;
            comment.image = (this.showFormImage === false) ? null : comment.image;
            if (!comment.text && !comment.image) {
                this.loading = false;
                return this.message = "Text or image is required";
            }
            const image = comment.image ? comment.image[0] : null;
            CommentService.create(this.id_post, comment, image)
                .then(() => {
                    this.$router.go(0)
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&  
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        update_comment(comment){
            this.message = "";
            this.loading = true;
            comment.id_user = this.dataCommentCopy.id_user;
            comment.image = (this.showFormImage === false) ? null : comment.image;
            let image = comment.image ? comment.image[0] : null;
            comment.image = (this.showFormImage === true && comment.image == undefined) ? this.dataCommentCopy.image : comment.image;
            if (!comment.text && !comment.image) {
                this.loading = false;
                return this.message = "Text or image is required";
            }
            CommentService.update(this.dataCommentCopy.id, comment, image)
                .then(() => {
                    this.$router.go(0)
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        liked(isLike = true, post){
            this.loading = true;
            const id_user = this.user.userId;
            
            if (isLike && post.users_liked.findIndex(p => p.id === id_user) < 0) {
                LikeService.addPostLike(post.id, id_user)
                    .then(() => {
                        post.countLiked ++;
                        post.users_liked.push({'id' : id_user});
                        this.loading = false;
                    })
                    .catch(() => {
                        this.loading = false;
                    })
            } else if (!isLike && post.users_liked.findIndex(p => p.id === id_user) >= 0) {
                LikeService.removePostLike(post.id, id_user)
                    .then(() => {
                        post.countLiked --;
                        post.users_liked.splice(post.users_liked.findIndex(p => p.id === id_user), 1);
                        this.loading = false;
                    })
                    .catch(() => {
                        this.loading = false;
                    })
            } else {
                this.loading = false;
            }
        },
        showImage(e) {
            this.message = "";
            try {                
                const [file] = e.target.files;
                if (file) {
                    e.target.nextElementSibling.firstChild.src = URL.createObjectURL(file);
                    this.showFormImage = true;
                }
                else {
                    this.showFormImage = false;
                }
            } catch {
                this.showFormImage = false;
            }
        },
        addIdPost(id_post, e) {
            this.showImage(e);
            this.id_post = id_post;
        },
        changeSelect(e) {
            this.selected = e.target.value;
        },
        resetImage(id_form) {
            document.getElementById(id_form).image.value = null;
            this.showFormImage = false;
        },
        lightbox(e) {
            this.lighbox_image = e.target.getAttribute('src');
        }
    },
    beforeMount() {
        this.user = this.$store.state.auth.user;
        
        if (this.$route.params.id_post) {
            PostService.getOne(this.$route.params.id_post).then(
                (response) => {
                    if (Object.keys(response.data.message).length > 0) {
                        this.posts = { 0 : response.data.message };
                    } 
                }
            )
        } else {
            PostService.getAll(this.$route.params.id).then(
                (response) => {
                    if (Object.keys(response.data.message).length > 0) {
                        this.posts = response.data.message;
                    } 
                }
            )
        }
    },
    mounted() {
        ForumService.getAll().then(
            (response) => {
                this.forums = response.data.message; 
            }
        )
    }
}
</script>

<style scoped lang="scss">
    .card.post{
        picture:not(.profile) {
            img {
                max-width: 100%;
                height: 500px;
                object-fit: cover;
                cursor: zoom-in;
            }
        }
        .comment {
            picture:not(.profile) {
                img {
                    height: 250px;
                }
            }
        }
    }
    .image_preview {
        max-width: 100%;
        max-height: 300px;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    #lightbox {
        & > div:first-child {
            width: 50px;
            height: 50px;
            margin: 1rem;
            right: 1rem;
        }
        picture {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
</style>