<template>
    <div class="row justify-content-center align-content-center align-items-center p-0 m-0">
        <div class="col-md-4">
            <h1>Ravis de vous connaitre !</h1>
            <div class="card card-container p-3">
                <Form @submit="handleRegister" :validation-schema="schema">
                    <div v-if="!successful">
                        <div class="form-group">
                            <label for="register__firstname">Prénom</label>
                            <Field name="firstname" type="text" class="form-control" id="register__firstname"/>
                            <ErrorMessage name="firstname" class="error-feedback" />
                        </div>
                        <div class="form-group">
                            <label for="register__lastname">Nom</label>
                            <Field name="lastname" type="text" class="form-control" id="register__lastname"/>
                            <ErrorMessage name="lastname" class="error-feedback" />
                        </div>
                        <div class="form-group">
                            <label for="register__email">Email</label>
                            <Field name="email" type="email" class="form-control" id="register__email"/>
                            <ErrorMessage name="email" class="error-feedback" />
                        </div>
                        <div class="form-group">
                            <label for="register__password">Mot de passe</label>
                            <Field name="password" type="password" class="form-control" id="register__password"/>
                            <ErrorMessage name="password" class="error-feedback" />
                        </div>
                        <div class="form-group">
                            <label for="register__password_repeat">Valider votre mot de passe</label>
                            <Field name="password_repeat" type="password" class="form-control" id="register__password_repeat"/>
                            <ErrorMessage name="password_repeat" class="error-feedback" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn--custom btn-block" :disabled="loading">
                                <span
                                    v-show="loading"
                                    class="spinner-border spinner-border-sm"
                                ></span>
                                S'enregistrer
                            </button>
                        </div>
                    </div>
                </Form>

                <div
                    v-if="message"
                    class="alert"
                    :class="successful ? 'alert-success' : 'alert-danger'"
                >
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: "Register",
    components: {
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schema = yup.object().shape({
            firstname: yup
                .string()
                .required("Firsname is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            lastname: yup
                .string()
                .required("Lastname is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            email: yup
                .string()
                .required("Email is required!")
                .email("Email is invalid!")
                .max(50, "Must be maximum 50 characters!"),
            password: yup
                .string()
                .required("Password is required!")
                .min(8, "Must be at least 6 characters!")
                .max(40, "Must be maximum 40 characters!"),
            password_repeat: yup
                .string()
                .oneOf([yup.ref('password'), null], 'Passwords must match')
                .required("Password is required!")
        });

        return {
            successful: false,
            loading: false,
            message: "",
            schema,
        };
    },
    computed: {
        loggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },
    mounted() {
        if (this.loggedIn) {
            this.$router.push("/");
        }
    },
    methods: {
        handleRegister(user) {
            this.message = "";
            this.successful = false;
            this.loading = true;

            this.$store.dispatch("auth/register", user).then(
                (data) => {
                    this.message = data.message;
                    this.successful = true;
                    this.loading = false;
                    setTimeout(() => {
                        this.$router.push("/login");
                    }, 3000);
                },
                (error) => {
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                    this.successful = false;
                    this.loading = false;
                }
            );
        },
    },
};
</script>

<style lang="sass">

</style>