<template>
    <nav class="col-12 col-lg-3 p-0">
        <div class="card m-3">
            <div class="card-body">
                <div class="card-text">
                    <h3 class="text-justify">Paramètres</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <router-link :to="'/profile'" class="nav-link w-75 p-0 text-left">Informations utilisateur</router-link>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <router-link :to="'/profile/delete'" class="nav-link w-75 p-0 text-left">Suppression du compte</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>

export default {
    name: 'SettingMenu'
}
</script>

<style scoped lang="scss">
    @import "../config/_variables.scss";

    nav {
        position: fixed;
        @media (max-width: 992px) { 
            position: inherit;
        }       
        a {
            font-weight: bold;
            color: #000;

            &.router-link-exact-active {
                color: $primary-color;
            }
        }
        ul {
            li {            
                background-color: $bg;
            }
        }
    }
</style>