<template>

    <Modal idModal="deleteModal" title="Suppression de l'utilisateur'">
        <template v-slot:body>
            Êtes-vous sûre de vouloir supprimer ?
        </template>
        <template v-slot:action>
            <button type="button" class="btn btn-danger col-md-5" @click="delete_user" :disabled="loading">
                <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                ></span>
                <span>Supprimer</span>
            </button>
            
            <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                {{ message }}
            </div>
        </template>
    </Modal>

    <Modal idModal="updateModal" title="Modifier l'utilisateur">
        <template v-slot:body>
            <Form id="updateUser" :validation-schema="schemaUser" @submit="update_user">
                <div class="form-group">
                    <label for="updateUser__firstname">Prénom *</label>
                    <Field name="firstname" type="text" class="form-control" v-model="CopyUser.firstname" id="updateUser__firstname"/>
                    <ErrorMessage name="firstname" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__lastname">Nom *</label>
                    <Field name="lastname" type="text" class="form-control" v-model="CopyUser.lastname" id="updateUser__lastname"/>
                    <ErrorMessage name="lastname" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__email">Email *</label>
                    <Field name="email" type="email" class="form-control" v-model="CopyUser.email" id="updateUser__email"/>
                    <ErrorMessage name="email" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__password">Nouveau mot de passe</label>
                    <Field name="password" type="password" class="form-control" id="updateUser__password"/>
                    <ErrorMessage name="password" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__password_repeat">Valider votre mot de passe</label>
                    <Field name="password_repeat" type="password" class="form-control" id="updateUser__password_repeat"/>
                    <ErrorMessage name="password_repeat" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__job">Travaille</label>
                    <Field name="job" type="text" class="form-control" v-model="CopyUser.job" id="updateUser__job"/>
                    <ErrorMessage name="job" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__birth">Date de naissance</label>
                    <Field name="birth" type="date" class="form-control" v-model="CopyUser.birth" id="updateUser__birth"/>
                    <ErrorMessage name="birth" class="error-feedback" />
                </div>
                <div class="form-group">
                    <label for="updateUser__image">Média (jpg, png, gif)</label>
                    <Field name="image" type="file" class="form-control" @change="showImage" id="updateUser__image"/>
                    <ErrorMessage name="image" class="error-feedback" />
                    <picture v-show="showFormImage">
                        <img :src="CopyUser.user_image" alt="Votre image de profile" class="image_preview mt-3"/>
                    </picture>
                    <div>
                        <input type='button' class="btn btn-secondary col-5 float-right mt-3" @click="resetImage('updateUser')" value="Effacer l'image">
                    </div>
                </div>
            </Form>
        </template>
        <template v-slot:action>
                <button class="btn btn--custom col-md-5 m-0" form="updateUser" :disabled="loading">
                    <span
                        v-show="loading"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span>Valider</span>
                </button>

                <div v-if="message" class="alert alert-danger col-12 m-0" role="alert">
                    {{ message }}
                </div>
        </template>
    </Modal>

    <div class="col-12 mb-3">
        <div v-if="$route.params.setting && $route.params.setting === 'delete'">
            <h1>Suppression du compte</h1>
            <div class="card p-0 mb-3">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            La suppression d'un compte est une action définitive ! <br/> 
                            Une fois supprimer, toutes vos données le seront aussi, que ce soit vos posts, vos commentaires ou ceux que vous avez aimé ! <br/> 
                            Si vous êtes sûr de votre choix, cliquez sur le bouton ci-dessous.
                        </p>
                        <p class="m-0"><a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger" @click="copyData(user)">Me supprimer</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>            
            <h1>Informations utilisateur</h1>
            <div class="card p-0 mb-3">
                <div class="card-body row align-items-center">
                    <picture class="profile col-12 col-xl-6 mb-3">
                        <img :src="user.user_image" :alt="'image de profil de ' + user.firstname + ' ' + user.lastname" width="200" height="200" class="rounded-circle border border-dark border-3">
                    </picture>
                    <div class="col-12 col-xl-6 d-flex flex-wrap text-justify">
                        <div class="col-12 col-md-6 mb-3">
                            <h2>Votre nom</h2>
                            <span>{{user.firstname}} {{user.lastname}}</span>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h2>Votre email</h2>
                            <span>{{user.email}}</span>
                        </div>                        
                        <div class="col-12 col-md-6 mb-3">
                            <h2>Votre anniversaire</h2>
                            <span v-if="user.birth || user.birth === ' '">{{dateFormat(user.birth)}}</span>
                            <span v-else>Non renseigné</span>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h2>Votre travail</h2>
                            <span v-if="user.job || user.job == ' '">{{user.job}}</span>
                            <span v-else>Non renseigné</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer col-12 d-flex">
                    <a href="#" data-toggle="modal" data-target="#updateModal" class="btn btn--custom ml-auto mr-3" @click="copyData(user)">Modifier</a>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import utils from "../config/utils";
import Modal from "./Modal.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import UserService from "../services/user.service";

export default {
    name: 'Setting',
    components: {
        Modal,
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schemaUser = yup.object().shape({
            firstname: yup
                .string()
                .required("Firsname is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            lastname: yup
                .string()
                .required("Lastname is required!")
                .min(3, "Must be at least 3 characters!")
                .max(20, "Must be maximum 20 characters!"),
            email: yup
                .string()
                .required("Email is required!")
                .email("Email is invalid!")
                .max(50, "Must be maximum 50 characters!"),
            password: yup
                .string()
                .min(8, "Must be at least 8 characters!")
                .max(40, "Must be maximum 40 characters!"),
            password_repeat: yup
                .string()
                .oneOf([yup.ref('password'), null], 'Passwords must match')
        });

        return {
            user: null,
            CopyUser: "",
            message: "",
            loading: false,
            schemaUser,
            showFormImage: true
        };
    },
    methods: {
        dateFormat(dateISO) {
            return utils.dateFormat(dateISO, false);
        },
        copyData(data) {
            this.CopyUser = {...data};
        },
        updateModalForm(data) {
            this.copyData(data);
            this.message = "";
        },
        delete_user() {
            this.loading = true;
            UserService.delete(this.CopyUser.id)
            .then(() => {
                this.$store.dispatch('auth/logout');
                document.location = '/login';
            })
            .catch((error) => {
                this.message =
                    (error.response &&
                    error.response.data &&
                    error.response.data.message) ||
                    error.message ||
                    error.toString();
                this.loading = false;
            })
        },
        update_user(user){
            this.message = "";
            this.loading = true;
            user.id = this.CopyUser.id;
            user.image = (this.showFormImage === false) ? null : user.image;
            let image = user.image ? user.image[0] : null;
            user.image = (this.showFormImage === true && user.image == undefined) ? this.CopyUser.user_image : user.image;
            UserService.update(this.CopyUser.id, user, image)
                .then((user) => {
                    let resetLocalStorage = JSON.parse(localStorage.getItem("user"));
                    resetLocalStorage.firstname = user.data.message.firstname;
                    resetLocalStorage.lastname = user.data.message.lastname;
                    resetLocalStorage.user_image = user.data.message.user_image;
                    localStorage.setItem('user', JSON.stringify(resetLocalStorage));
                    this.$router.go(0)
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                        error.response.data &&
                        error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
        showImage(e) {
            this.message = "";
            try {                
                const [file] = e.target.files;
                if (file) {
                    e.target.nextElementSibling.firstChild.src = URL.createObjectURL(file);
                    this.showFormImage = true;
                }
                else {
                    this.showFormImage = false;
                }
            } catch {
                this.showFormImage = false;
            }
        },
        resetImage(id_form) {
            this.showFormImage = false;
            document.getElementById(id_form).image.value = null;
        }
    },
    beforeMount() {
        this.user = this.$store.state.auth.user;
        UserService.getOne(this.$store.state.auth.user.userId).then((user) => {
            this.user = user.data.message;
        })
    }
}
</script>

<style scoped lang="scss">
    picture {
        img {
            width: 200px; 
            height: 200px;
            object-fit: cover;
        }
    }
</style>