<template>
  <Header v-bind:user='currentUser'/>
  <main class="container-fluid">
    <router-view/>
  </main>
</template>

<style lang="scss">
  @import "./config/_variables.scss";

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000000;
  }
  body{
    background-color: $bg;
  }
  .btn--custom {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #000000;
  }
  .profile {
      img{
          width: 40px; 
          height: 40px;
      }
  }
  
</style>

<script>
  import Header from '@/components/Header.vue'
  
  export default {
  name: 'App',
  components: {
    Header,
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  }
};
</script>